<!-- templates/404.html -->
<!doctype html>
<html lang="en" data-theme="autumn">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <link href="/static/output.css" rel="stylesheet" type="text/css" />
</head>
<body class="bg-gray-100 text-gray-700">
  <div class="container mx-auto flex flex-col items-center justify-center h-screen">
    <h1 class="text-6xl font-bold">404</h1>
    <p class="text-xl mt-4">Sorry, the page you are looking for could not be found.</p>
    <a href="/home" class="mt-8 bg-blue-500 text-white px-4 py-2 rounded">Go Home</a>
  </div>
</body>
</html>