<!-- templates/base.html -->
<!doctype html>
<html lang="en">

<html data-theme="autumn">

</html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" /> -->
  <!-- <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script> -->
  <script src="/static/js/htmx.min.js"></script>
  <link href="/static/output.css" rel="stylesheet" type="text/css" />
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
