<!-- templates/base.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}FastAPI + HTMX Demo{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://unpkg.com/htmx.org"></script>
  </head>
  <body>
    {% include 'header.html' %}
    <main class="container">{% block content %}{% endblock %}</main>
  </body>
  {% include "footer.html" %}
</html>
