{% extends 'base.html' %}
{% block title %}Editor{% endblock %}
{% block content %}
{% include "/components/header_home.html" %}
<div class="grid grid-cols-1 sm:grid-cols-2 items-stretch">
  <div id="markdown-input" class="p-5 flex flex-col items-start h-full sm:col-span-1">
    <form hx-post="/submit-article" hx-trigger="submit" hx-swap="innerHTML" hx-target="this">
      <!-- Links Element (Textarea) -->
      <h3 class="text-xl font-bold mb-4">
        Enter Text
      </h3>
      <label class="input input-bordered flex items-center gap-2" hx-swap-oob="true">
        Title
        <input name="title" type="text" class="grow" placeholder="" />
        {{ title }}
        </input>
      </label>
      <textarea placeholder="Article body" class="textarea textarea-bordered textarea-lg w-full h-full max-w-full resize-none"
        name="search" hx-post="/format-markdown" hx-trigger="input changed delay:0ms, search" hx-target="#markdown-preview"></textarea>
      <!--TODO
          handle the 422 error
      -->
      <button type="submit" class="btn">Search</button>
    </form>
  </div>

  <div class="p-5 flex flex-col items-start h-full sm:col-span-1">
    <!-- Rechts Element (Markdown Preview) -->
    <h3 class="text-xl font-bold mb-4">Preview</h3>
    <article id="markdown-preview" class="prose lg:prose-xl w-full h-full bg-white p-4 border border-gray-200 rounded">
      {{ search }}
    </article>
  </div>
  <div id="success-message">
  </div>
</div>
{% endblock %}
