{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content%}
{% include "/components/header_home.html" %}

<div  class="bg-gray-100 h-screen flex justify-center items-center">
  <div class="flex flex-col items-center gap-8">
      <div class="flex flex-col gap-4 w-52">
          <div class="skeleton h-32 w-full"></div>
          <div class="skeleton h-4 w-28"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
      </div>
      <div role="alert" class="alert alert-warning flex items-center space-x-2 p-4 rounded bg-yellow-200 text-yellow-800">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
          <span>Hier kommen demnächst neue Inhalte!</span>
      </div>
  </div>
</div>


{% endblock %}