{% extends 'base.html' %} 
{% block title %}Home{% endblock %} 
{% block content%}
<div style="display: flex; height: 100vh; align-items: stretch;">
  <div style="flex: 1; padding: 20px; display: flex; align-items: start; justify-content: center;  height: 100%;">
    <div style="width: 100%; height: 300px; border: 1px solid #ccc; display: flex; align-items: center; justify-content: center;">
      <article aria-busy="true"></article>
    </div>
    <div>
      <p>test</p>
    </div>
  </div>
  <div style="flex: 2; margin: 0 20px; display: flex; flex-direction: column; height: 100%;">
    <div style="flex: 1; display: flex; flex-direction: column; height: 100%;">
      <h2>Name</h2>
      <p>Institution</p>
      <p>Bereich</p>
      <hr>
      <div class="grid">
        <img
          src="https://raw.githubusercontent.com/picocss/examples/master/v2-html-classless/img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
          alt="Minimal landscape"
          style="max-width: 100%; height: auto; max-height: 400px; width: auto;"
        />
        <img
          src="https://raw.githubusercontent.com/picocss/examples/master/v2-html-classless/img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
          alt="Minimal landscape"
          style="max-width: 100%; height: auto; max-height: 400px; width: auto;"
        />
        <img
          src="https://raw.githubusercontent.com/picocss/examples/master/v2-html-classless/img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
          alt="Minimal landscape"
          style="max-width: 100%; height: auto; max-height: 400px; width: auto;"
        />
      </div>
      <hr>
      <div>
        <h2>Publikationen</h2>
        <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
      </div>
      <blockquote>
        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
      </blockquote>
      <cite>Authoren: Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</cite>
      <hr>
      <div>
        <hgroup>
          <h2>Research Experience</h2>
          <hr>
        </hgroup>
      </div>
      <div>
        <hgroup>
          <h2>Education</h2>
          <hr>
        </hgroup>
      </div>
      <div>
        <hgroup>
          <h2>Contact Details</h2>
          <hr>
        </hgroup>
      </div>
    </div>
  </div>
  <div style="flex: 1; display: flex; align-items: start; justify-content: center; flex-direction: column; height: 100%;">
    <!-- Rechts Element -->
  </div>
</div>
{% endblock %}
