<!-- templates/index.html -->

{% extends 'base.html' %}
{% include '/components/header.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-base-200 p-8">
  <div class="hero min-h-[80vh]">
    <div class="hero-content flex flex-col lg:flex-row-reverse">
      <!-- Textbereich -->
      <div class="text-left lg:text-left w-full lg:w-1/4 mb-4 lg:mb-0">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      </div>

      <!-- Formular -->
      <div class="card shrink-0 w-full max-w-sm rounded-lg overflow-hidden shadow-lg bg-white lg:w-1/2 mr-auto">
        <form class="card-body p-6">
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="Email" class="input input-bordered w-full" required />
          </div>
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="Password" class="input input-bordered w-full" required />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary w-full">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}