<!-- templates/index.html -->
{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}
<div class="flex-container">
  <main class="container custom-container">
    <form>
      <input
        type="email"
        name="email"
        placeholder="Email"
        aria-label="Email"
        autocomplete="email"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
      />
      <label>
        <input type="checkbox" name="placeholder" />
        Lorem Ipsum unchecked
      </label>
      <label>
        <input type="checkbox" name="placeholder" checked />
        Lorem Ipsum checked
      </label>
    </form>
    <hr />
    <p>Noch kein Account?</p>
    <button>Registrieren</button>
  </main>
  <figure>
    <img
      src="https://raw.githubusercontent.com/picocss/examples/master/v2-html-classless/img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
      alt="Minimal landscape"
      class="custom-image"
    />
  </figure>
</div>
{% endblock %}
