<!--- templates/profile.html --->
{% extends 'base.html' %} 
{% block title %}Profile{% endblock %} 
{% block content%}
{% include "/components/header_home.html" %}
<div class="grid" style="display: flex; height: 100vh; align-items: stretch;">
  <div style="flex: 1; padding: 20px; display: flex; align-items: start; justify-content: center;  height: 100%;">
    <!-- Links Element -->
   
    <div>
        <img
        src="https://raw.githubusercontent.com/picocss/examples/master/v2-html-classless/img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
        alt="Minimal landscape"
        style="max-width: 100%; height: auto; max-height: 400px; width: auto;"
      />
      <div>
        <p>Info</p>
        <p>Publikationen</p>
        <p>Beiträge</p>
      </div>
      <div>
        <hr>
        <h4>Topics</h4>
        <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint</p>
        <h4>Skills and expertise</h4>
        <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint</p>
        <h4>X</h4>
        <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint</p>
        <hr>
        <p><strong>Als Kontakt Hinzufügen</strong></p>
        <p><strong>Nachricht senden</strong></p>
        <p><strong>Melden</strong></p>
      </div>
    </div>

  </div>
  <div style="flex: 2; margin: 0 20px; display: flex; flex-direction: column; height: 100%;">
    <!-- Element Mitte -->
    <div style="flex: 1; display: flex; flex-direction: column; height: 100%;">
      <h2>Name</h2>
      <p>Institution</p>
      <p>Bereich</p>
      <hr>
      <div class="grid">
        <img
          src="https://raw.githubusercontent.com/picocss/examples/master/v2-html-classless/img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
          alt="Minimal landscape"
          style="max-width: 100%; height: auto; max-height: 400px; width: auto;"
        />
        <img
          src="https://raw.githubusercontent.com/picocss/examples/master/v2-html-classless/img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
          alt="Minimal landscape"
          style="max-width: 100%; height: auto; max-height: 400px; width: auto;"
        />
        <img
          src="https://raw.githubusercontent.com/picocss/examples/master/v2-html-classless/img/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg"
          alt="Minimal landscape"
          style="max-width: 100%; height: auto; max-height: 400px; width: auto;"
        />
      </div>
      <hr>
      <div>
        <h2>Publikationen</h2>
        {% include "/components/test_publication.html" %}
      <hr>
      {% include "/components/research_experience.html" %}
      {% include "/components/education.html" %}
      {% include "/components/contact_details.html" %}
    </div>
  </div>
  <div style="flex: 1; display: flex; align-items: start; justify-content: center; flex-direction: column; height: 100%;">
    <!-- Rechts Element -->
  </div>
</div>
{% endblock %}

