<!-- templates/components/header_home.html -->
<div class="navbar bg-base-100 flex justify-between">
  <a class="btn btn-ghost text-xl" href="/">Open Science</a>
  <div class="space-x-reverse">
    <a href="/search" class="btn btn-ghost text-xl">Search Publications</a>
    <a href="/home" class="btn btn-ghost text-xl">Home</a>
    <a href="/editor" class="btn btn-ghost text-xl">Editor</a>
    <a href="/my-account" class="btn btn-ghost text-xl">Profile</a>
    <a href="/settings" class="btn btn-ghost text-xl">Einstellungen</a>
  </div>
</div>
