<!-- templates/components/header_home.html -->
<header>
  <main class="container">
    <nav>
      <ul class="grid">
        <strong><a href="/">Open Science</a> </strong>
      </ul>
      <ul>
        <li>
          <input
            type="search"
            name="search"
            placeholder="Search"
            aria-label="Search"
            class="button"
          />
        </li>
      </ul>
      <li>
        <a href="/home/" class="button">Home</a>
      </li>
      <li>
        <a href="/messages/" class="button">Nachrichten</a>
      </li>
      <li>
        <a href="/req/" class="button">Anfragen</a>
      </li>
      <li>
        <a href="/profile/" class="button">Profile</a>
      </li>
    </nav>
  </main>
</header>
