<!-- templates/components/test_publication.html -->
{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<article id="article" class="p-4 rounded bg-white shadow">
  <h3 class="text-xl font-bold">{{ title }}</h3>
  <p class="text-sm text-gray-500 mt-2"><em>Autoren: {{ authors }}</em></p>
  <blockquote class="mt-4 border-l-4 border-gray-200 pl-4">
    {{ abstract }}
  </blockquote>
  <p class="mt-4">
    <a href="#" onclick="event.preventDefault()" class="text-xs font-bold text-indigo-500 hover:underline">
      <strong>Leseliste Hinzufügen</strong>
    </a>
  </p>
  <footer class="mt-4 text-xs text-gray-400">
    <small>Duis nec elit placerat, suscipit nibh quis, finibus neque.</small>
  </footer>
</article>
{% endblock %}
