<!-- templates/components/test_publication.html -->
{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<article id="article">
  <h3>{{ title }}</h3>
  <p><em>Autoren: {{ authors }}</em></p>
  <blockquote>
    {{ abstract }}
  </blockquote>
  <p><a href="#" onclick="event.preventDefault()"><small><strong>Leseliste Hinzufügen</strong></small></a></p>
  <footer>
    <small>Duis nec elit placerat, suscipit nibh quis, finibus neque.</small>
  </footer>
</article>
{% endblock %}
